.addPage {
  display: flex;
  flex-direction: column;
}

.addPage > h1 {
  align-self: center;
  padding-bottom: 4rem;
}

.add_todo__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  gap: 2rem;
}

.add_todo__form input {
  height: 48px;
}

.add_todo__form .actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.add_todo__form .actions button {
  flex: 1;
  padding: 12px 0;
}

@media (max-width: 1152px) {
  .add_todo__form .actions {
    align-self: stretch;
    flex-direction: column;
    align-items: stretch;
  }
  .add_todo__form {
    width: 100%;
  }
}
