.auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 2%;
}

.auth_form {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.auth_form input {
  padding: 24px !important;
}
