.todo_card {
  height: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card_action__area {
  flex: 1 0 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important ;
}

.content {
  flex: 2;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.description {
  width: fit-content;
  font-weight: 600;
  overflow: hidden;
  /* تنظیم تعداد خطوط قابل نمایش */
  max-lines: 3;
  /* تعیین نحوه‌ی نمایش بخش اضافه شده مانند نقطه‌چکیده */
  text-overflow: ellipsis;

  flex: 0 0 40%;
}

.content span {
  font-weight: bold;
}
